
html, body, #root {
  margin: 0;
  height: 100%;
  width: 100%;
}

.map-container {
  width: 80%; /* You can change this to your desired width */
  height: 500px; /* Set the height of the map */
  margin: 0 auto; /* Centers the box horizontally */
  border: 2px solid #ddd; /* Adds a border to the box */
  border-radius: 10px; /* Optional: rounded corners */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Optional: adds a shadow effect */
}

.leaflet-container {
  border-radius: 10px; /* Optional: rounded corners for the map */
}
